<launch>
	
<group ns="/romerin"> 
	<!--So for some reason, the launch file cannot find the URDF model, I guess. So we have to show ros the way.-->
	<param name="robot_description" command="cat $(find romerin_description)/urdf/romerin.xacro"/>
	
	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find romerin_description)/launch/controller.yaml" command="load" ns="/romerin"/>
	
	<!-- load the controllers -->
	<node name="controller_spawner" output="screen" pkg="controller_manager" type="spawner" respawn="false" ns="/romerin" args= "
		   Rev3_l_1_position_controller Rev5_l_1_position_controller Rev8_l_1_position_controller Rev10_l_1_position_controller Rev12_l_1_position_controller Rev13_l_1_position_controller Rev14_l_1_position_controller Rev15_l_1_position_controller Rev16_l_1_position_controller 
		   Rev3_l_2_position_controller Rev5_l_2_position_controller Rev8_l_2_position_controller Rev10_l_2_position_controller Rev12_l_2_position_controller Rev13_l_2_position_controller Rev14_l_2_position_controller Rev15_l_2_position_controller Rev16_l_2_position_controller 
		   Rev3_l_3_position_controller Rev5_l_3_position_controller Rev8_l_3_position_controller Rev10_l_3_position_controller Rev12_l_3_position_controller Rev13_l_3_position_controller Rev14_l_3_position_controller Rev15_l_3_position_controller Rev16_l_3_position_controller 
		   Rev3_r_1_position_controller Rev5_r_1_position_controller Rev8_r_1_position_controller Rev10_r_1_position_controller Rev12_r_1_position_controller Rev13_r_1_position_controller Rev14_r_1_position_controller Rev15_r_1_position_controller Rev16_r_1_position_controller 
		   Rev3_r_2_position_controller Rev5_r_2_position_controller Rev8_r_2_position_controller Rev10_r_2_position_controller Rev12_r_2_position_controller Rev13_r_2_position_controller Rev14_r_2_position_controller Rev15_r_2_position_controller Rev16_r_2_position_controller 
		   Rev3_r_3_position_controller Rev5_r_3_position_controller Rev8_r_3_position_controller Rev10_r_3_position_controller Rev12_r_3_position_controller Rev13_r_3_position_controller Rev14_r_3_position_controller Rev15_r_3_position_controller Rev16_r_3_position_controller 
		   joint_state_controller"/>
	
	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher" ns="/romerin"> 
	  <remap from="/joint_states" to="/romerin/joint_states"/>
	</node>
</group>
	
</launch>
