<launch>

<rosparam file="$(find romerin_description)/launch/controller.yaml" command="load"/>
<node args="Rev3_position_controller Rev5_position_controller Rev8_position_controller Rev10_position_controller Rev12_position_controller Rev13_position_controller Rev14_position_controller Rev15_position_controller Rev16_position_controller joint_state_controller " name="controller_spawner" ns="romerin" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/romerin/joint_states"/>
</node>

</launch>
