<launch>
	
  <arg default="$(find robominer_description)/urdf/robominer.xacro" name="model"/>
  <arg default="$(find robominer_description)/launch/urdf.rviz" name="rvizconfig"/>
	
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
	
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
	
  <node name="robot_state_publisher_rviz" pkg="robot_state_publisher" type="robot_state_publisher"/>
<!--pongo rviz al final del nombre de este nodo para poder abrirlo a la vez que en gazebo sin conflictos-->
  <node name="rviz" pkg="rviz" required="true" type="rviz" args="-d $(arg rvizconfig)"/>
</launch>