<launch>
	
<!--group ns="/robominer"--> 
	<!--So for some reason, the launch file cannot find the URDF model, I guess. So we have to show ros the way.-->
	<!--param name="robot_description" command="cat $(find robominer_description)/urdf/robominer.xacro"/-->
	
	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find robominer_control)/config/controller.yaml" command="load" ns="/robominer"/>
	
	<!-- load the controllers -->
	<node name="controller_spawner" output="screen" pkg="controller_manager" type="spawner" respawn="false" ns="/robominer" args= " 
		   Rev3_r_1_position_controller Rev5_r_1_position_controller Rev8_r_1_position_controller Rev11_r_1_position_controller  
		   Rev3_r_2_position_controller Rev5_r_2_position_controller Rev8_r_2_position_controller Rev11_r_2_position_controller  
		   Rev3_r_3_position_controller Rev5_r_3_position_controller Rev8_r_3_position_controller Rev11_r_3_position_controller 
		   Rev3_l_1_position_controller Rev5_l_1_position_controller Rev8_l_1_position_controller Rev11_l_1_position_controller  
		   Rev3_l_2_position_controller Rev5_l_2_position_controller Rev8_l_2_position_controller Rev11_l_2_position_controller  
		   Rev3_l_3_position_controller Rev5_l_3_position_controller Rev8_l_3_position_controller Rev11_l_3_position_controller  
		   joint_state_controller"/>
	
	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher" ns="/robominer"> 
	  <remap from="/joint_states" to="/robominer/joint_states"/>
	</node>
<!--/group-->
	
</launch>
